[[source]]
url = "http://pypi.doubanio.com/simple"
verify_ssl = false
name = "pypi"

[dev-packages]

[packages]
construct = "*"
fire = "*"
qtconsole = "*"
"pyqt5" = "==5.11.2"
ipython = "*"

[requires]
python_version = "3.7"
